@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
/* Solution */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(129, 129, 129);
}

.left-links,
.right-links,
.header,
.footer {
  display: flex;
}

.left-links,
.right-links {
  gap: 16px;
}

.header,
.footer {
  justify-content: space-between;
  padding: 16px;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

body {
  display: flex;
  flex-direction: column;
}

button {
  padding: 8px 16px;
}

.footer {
  background-color: rgb(235, 235, 235);
  padding: 16px;
}
