body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

/* Solution */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 900;
}

.main {
  flex-grow: 1;
  display: flex;
  /* flex: 1; */
  /* fle */
}

.sidebar {
  flex: 0 0 auto;
  padding: 16px;
}

.main-content {
  /* flex: 1; */
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 32px;
  padding: 48px;
}

.card {
  width: 350px;
  padding: 16px;
  display: flex;
  align-items: flex-start;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #eee;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
