/* Add CSS Styling */
.dark,
.yellow {
  font-size: 28px;
  font-family: 'Helvetica', 'Times New Roman', 'Sans-serif';
}

.dark {
  background-color: black;
  color: white;
}

.yellow {
  background-color: yellow;
}
